{% extends "layout/default.html.twig" %}

{% block title %}Dépôt d'annonce - lebongroin{% endblock %}

{% block content %}

    
    {# fil d'ariane #}
    <p><a href="{{ path('home_index') }}">Accueil</a>
        > 
        <a href="{{ path('product_index', {'category': product.category.name}) }}">{{ product.category.name }}</a>
        > 
        <a href="{{path('product_index', {'city': product.city}) }}">{{ product.city }}</a>
        > {{ product.title }}
    </p>


    <div class="row">
        <div class="col-7">
            {# photo à la une #}
            <img src=" {{ vich_uploader_asset(product.firstPicture, 'uploadedFile') | imagine_filter('my_first') }}">
            <h4 class="mt-4">{{ product.title }}</h4>
            <p style="font-size: 1.5em; color: orange; font-weight: bold;">{{ product.price | price_formater }}</p>
            <p>{{ product.createdAt | date_formater }}</p>
            <hr>
            <h5>Description</h5>
            <p>{{ product.description }}</p>
            <hr>
            <p><i class="bi bi-geo-alt-fill"></i><span style="font-size: 1.1em; font-weight: bold;"> {{ product.city }}</span> ({{ product.postalCode }})</p>
            <hr>

            <div class="col-4">
                {% include "user/_user_card.html.twig" %}
            </div>
            <p style="font-size: 0.9em;"><i class="bi bi-person"></i> Membre depuis ...
                <br>
                <i class="bi bi-clock"></i> Dernière réponse en moins de ...</p>
            
        </div>
        {% if product.user is not same as app.user %}
            <div class="col">
                {# card user #}
                <div style="border-color: white; border-style: solid; border-width: 1px; border-radius: 3px; box-shadow: 5px 2px 10px 3px grey; width: 300px; padding: 10px;">
                    {% include "user/_user_card.html.twig" %}
                    
                    <hr>

                    <p style="font-size: 0.9em;"><i class="bi bi-clock"></i> Dernière réponse en moins de ...</p>
                    <div class="d-grid gap-2">
                        <a style="background-color: orange; color: white; font-weight: bold;" class="btn" type="button">Acheter</a>
                        <a href="{{ path('message_new', {'product_id': product.id})}} " style="font-weight: bold;" class="btn btn-primary" type="button">Message</a>
                    </div>
                </div>
            </div>
        {% endif %}
        
    </div>



{% endblock %}