{% extends "layout/default.html.twig" %}

{% block title %}Dépôt d'annonce - lebongroin{% endblock %}

{% block content %}

    
    {# fil d'ariane #}
    <p><a href="{{ path('home_index') }}">Accueil</a>
        > 
        <a href="{{ path('product_index', {'category': product.category.name}) }}">{{ product.category.name }}</a>
        > 
        <a href="{{path('product_index', {'city': product.city}) }}">{{ product.city }}</a>
        > {{ product.title }}
    </p>


    <div class="row">
        <div class="col-7">
            {# photo à la une #}
            <img src=" {{ vich_uploader_asset(product.firstPicture, 'uploadedFile') | imagine_filter('my_first') }}">
            <h4 class="mt-4">{{ product.title }}</h4>
            <p style="font-size: 1.5em; color: orange; font-weight: bold;">{{ product.price | price_formater }}</p>
            <p>{{ product.createdAt | date_formater }}</p>
            <hr>
            <h5>Description</h5>
            <p>{{ product.description }}</p>
            <hr>
            <p><i class="bi bi-geo-alt-fill"></i><span style="font-size: 1.1em; font-weight: bold;"> {{ product.city }}</span> ({{ product.postalCode }})</p>
            <hr>
            {% set count = count(product.user.products) %}

            <div class="row">
                <div class="col-1">
                    <i style="font-size: 3.7em; color: grey;" class="bi bi-person-circle"></i>
                </div>
                <div class="col ms-2">
                    <span style="font-size: 1.1em; font-weight: bold;"> {{ product.user.username }}</span>
                    <br>
                    {{ count }} annonce{% if count > 1 %}s{% endif %}
                    <br>
                    <i class="bi bi-star-fill" style="color: orange; font-size: 0.9em;"></i>
                    <i class="bi bi-star-fill" style="color: orange; font-size: 0.9em;"></i>
                    <i class="bi bi-star-fill" style="color: orange; font-size: 0.9em;"></i>
                    <i class="bi bi-star-fill" style="color: orange; font-size: 0.9em;"></i>
                    <i class="bi bi-star-fill" style="color: orange; font-size: 0.9em;"></i>
                    <span style="font-size: 0.9em; font-weight: bold;">(à faire)</span>
                </div>
            </div>
            <p style="font-size: 0.9em;"><i class="bi bi-person"></i> Membre depuis ...
                <br>
                <i class="bi bi-clock"></i> Dernière réponse en moins de ...</p>
            
        </div>
        <div class="col">
            {# card user #}
            <div style="border-color: white; border-style: solid; border-width: 1px; border-radius: 3px; box-shadow: 5px 2px 10px 3px grey; width: 300px; padding: 10px;">
                <div class="row">
                    <div class="col-3">
                        <i style="font-size: 3.7em; color: grey;" class="bi bi-person-circle"></i>
                    </div>
                    <div class="col">
                        <span style="font-size: 1.1em; font-weight: bold;"> {{ product.user.username }}</span>
                        <br>
                        {{ count }} annonce{% if count > 1 %}s{% endif %}
                        <br>
                        <i class="bi bi-star-fill" style="color: orange; font-size: 0.9em;"></i>
                        <i class="bi bi-star-fill" style="color: orange; font-size: 0.9em;"></i>
                        <i class="bi bi-star-fill" style="color: orange; font-size: 0.9em;"></i>
                        <i class="bi bi-star-fill" style="color: orange; font-size: 0.9em;"></i>
                        <i class="bi bi-star-fill" style="color: orange; font-size: 0.9em;"></i>
                        <span style="font-size: 0.9em; font-weight: bold;">(à faire)</span>
                    </div>
                </div>
                
                <hr>

                <p style="font-size: 0.9em;"><i class="bi bi-clock"></i> Dernière réponse en moins de ...</p>
                <div class="d-grid gap-2">
                    <button style="background-color: orange; color: white; font-weight: bold;" class="btn" type="button">Acheter</button>
                    <button style="font-weight: bold;" class="btn btn-primary" type="button">Message</button>
                </div>
            </div>
        </div>
    </div>



{% endblock %}